@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Ccircle cx='1' cy='1' r='1' fill='white' fill-opacity='0.05'/%3E%3C/svg%3E");
  
}

.hero {
  
  padding-top: 70px;
  padding-bottom: 70px;

}

body {
    font-family: 'Poppins', sans-serif;
    padding: 5px 52px;
  margin: 0;
  min-height: 100vh;
  

  background:
    radial-gradient(circle at 50% 35%, rgba(60,120,255,0.12), transparent 55%),
    radial-gradient(circle at 70% 60%, rgba(140,60,200,0.10), transparent 60%),
    radial-gradient(circle at center, rgba(10,20,50,0.9), rgba(3,5,15,1) 70%),
    linear-gradient(180deg, #02040c, #040818, #02030a);

  background-attachment: fixed;

    
    scrollbar-width: thin;
    scrollbar-color: #0B1020 transparent; 
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    linear-gradient(
      120deg,
      transparent 40%,
      rgba(0,200,255,0.08),
      transparent 60%
    );
  animation: wave 8s linear infinite;
  pointer-events: none;
}

@keyframes wave {
  from { transform: translateX(-40%); }
  to   { transform: translateX(40%); }
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 60% 50%, rgba(120,80,255,0.08), transparent 65%);
  pointer-events: none;
}


@keyframes pulse {
  0%,100% { opacity: .6; }
  50%     { opacity: 1; }
}


::-webkit-scrollbar {
  width: 5.2px;
}

::-webkit-scrollbar-track {
  background: #0B1020;
}

::-webkit-scrollbar-thumb {
  background: rgba(204, 158, 227, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9B6BFF;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px; 
    margin-bottom: 8px;
    padding-top: 5.3px;
}

.menu h2 {
    font-size: 30px;
    margin: 0;
    letter-spacing: -1px;
    color: #FFFFFF;
    transform: translateY(1px);
    text-shadow:
        0 0 12px rgba(63,169,245,0.35),
        0 0 32px rgba(124,92,255,0.15); 
}

.menu h2 span {
    font-family: Helvetica, sans-serif;
    color: #2ED47A;
    text-shadow: none;
    font-size: 27px;
}

nav {
  display: flex;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center; 
  gap: 15px;
}

.icon-menu {
  height: 42px; 
  width: auto;
  display: block;
  transform: translateY(-2px); 
  object-fit: contain;
}

.menu h2 {
  font-size: 30px;
  margin: 0;
  line-height: 1; 
  display: flex;
  align-items: center;
}


.menu h2 span {
  font-family: Helvetica, sans-serif;
  color: #2ED47A;
  text-shadow: none;
  font-size: 27px;
  margin-left: 8px; 
}



.men {
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}

.men::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #3FA9F5;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}

.men:hover::after {
    transform: scaleX(1);
}

/* botao do saiba mais lá */

.sbms {
  font-size: 14px;
  padding-right: 50px;
  padding: 10px 20px;
  border-radius: 8px;
  background: linear-gradient(90deg, #3FA9F5, #6FE8FF); 
  border: none;
  color: #0B1020; 
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(63, 169, 245, 0.4);
}

.sbms:hover {
  background: linear-gradient(90deg, #6FE8FF, #9B6BFF); 
  box-shadow: 0 6px 20px rgba(124, 92, 255, 0.5);
  transform: translateY(-2px);
}

.btn-primary {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  background: linear-gradient(90deg, #3FA9F5, #6FE8FF);
  color: #0B1020;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #6FE8FF, #9B6BFF);
  transform: translateY(-2px);
}

/* divider dos menus aq */




.divider {
  position: relative;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    #2FCBFF 30%,
    #6FE8FF 50%,
    #9B6BFF 70%,
    rgba(0,0,0,0) 100%
  );
  border-radius: 999px;
  margin-top: 0;
}

.divider::after {
  content: "";
  position: absolute;
  inset: -4px 0;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(111,232,255,0.9) 50%,
    rgba(0,0,0,0) 100%
  );
  filter: blur(10px);
  opacity: 0.7;
  border-radius: 999px;
  pointer-events: none;
}

/*  vou começar o cabecalho daq */

.container-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 35px;
    gap: 25px;            
    padding: 0;
    width: auto;
    min-height: auto;
    height: 260px;
    padding-right: 50px;
    padding-bottom: 60px;
    
}

header h1 {
  font-size: 59px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-top: 0; 
  text-shadow:
    0 0 12px rgba(63,169,245,0.35),
    0 0 32px rgba(124,92,255,0.15);
}

header h1 span {
  color: #2ED47A;
  text-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
}

header p {
    font-size: 20px;
    color: #dddddd;
    margin-top: 0;
    margin-bottom: 30px;
}

header button {
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 8px;
  background: rgba(63,169,245,0.08);
  border: 1px solid #3FA9F5;
  color: #CFEFFF;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}


.imagem {
  
   transform: scaleX(1.3);
    margin-top: 15px; 
    width: auto;
    max-width: 500px;
    height: 100%;
    
    display: block;
    border-radius: 20px; 
    border: 1px solid rgba(63, 169, 245, 0.3); 
    box-shadow: 
        0 0 20px rgba(63, 169, 245, 0.15), 
        0 10px 30px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: contain;
     align-items: right;
}

.imagem:hover {
   transform: scaleX(1.32) translateY(-5px);
    border-color: #3FA9F5; 
    box-shadow: 0 0 30px rgba(63, 169, 245, 0.3);
}

.logo2 {
  display: flex;
  align-items: center;
  gap: 6px;
}


.icon-menu2 {
  height: 80px; 
  width: auto;
  display: block;
  transform: translateY(-2px); 
  object-fit: contain;
}

.plansbtn {
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 8px;
  background: rgba(63,169,245,0.08);
  border: 1px solid #3FA9F5;
  color: #CFEFFF;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

header h1 {
    font-size: 59px;
    font-weight: 700;
    line-height: 1.1;
    color: #FFFFFF; 
    text-shadow: 0 0 15px rgba(63, 169, 245, 0.4);
    margin-bottom: 15px;
}

header h1 span {
    color: #2ED47A; 
}


.section-title {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px;
    font-size: 26px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 80px 0 40px; 
    text-transform: none;
}

.section-title span {
    color: #3FA9F5; 
    font-family: monospace;
}


.card-content h3, .card-plan h3 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}


header p {
    font-size: 20px;
    color: #dddddd; 
    line-height: 1.5;
}

.card-content .subtitle {
    color: #FFFFFF;
    font-size: 14px;
    opacity: 0.9;
}

.card-content .description, .card-plan p {
    color: #aaaaaa; 
    font-size: 13px;
    margin-top: 8px;
}


h2, h3 {
    text-align: left;
    margin: 0;
}



/* vou começar a configurar os cards daq */


.grid-vantagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
}

.card-mini {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(10px); 
    transition: 0.3s ease;
}

.mini-icon {
    height: 35px;
    filter: drop-shadow(0 0 8px rgba(63, 169, 245, 0.5));
}

.card-mini p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    line-height: 1.4;
}


.grid-funcionalidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
}

.card-func {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 20px;
    backdrop-filter: blur(15px);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card-func:hover {
    transform: translateY(-5px);
    border-color: rgba(63, 169, 245, 0.4);
}

.icon-box img {
    width: 55px;
    height: auto;
    filter: drop-shadow(0 0 10px currentColor); 
}


.yellow { color: #FFD700; }
.green { color: #2ED47A; }
.blue { color: #3FA9F5; }

.card-content h3 { font-size: 18px; color: #fff; margin: 0; }
.card-content .subtitle { font-size: 14px; color: #fff; font-weight: 300; }
.card-content .description { font-size: 12px; color: #aaa; margin-top: 10px; }


.grid-planos {
    display: flex;
    justify-content: center; 
    gap: 30px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.card-plan {
    width: 320px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(5, 10, 25, 0.8);
    position: relative;
    border: 2px solid transparent;
    backdrop-filter: blur(20px);
}


.card-mini, .card-func, .card-plan {
    text-align: left; 
}

.card-plan.purple {
    border-image: linear-gradient(135deg, #9B6BFF, transparent 60%) 1;
    box-shadow: -10px -10px 30px rgba(155, 107, 255, 0.08);
}

.card-plan.cyan {
    border-image: linear-gradient(135deg, #00F0FF, transparent 60%) 1;
    box-shadow: -10px -10px 30px rgba(0, 240, 255, 0.08);
}

.badge {
    font-size: 11px;
    font-weight: 800;
    padding: 4px 12px;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}

.purple .badge { background: #6A3BCC; color: white; }
.cyan .badge { background: #00818A; color: white; }

.card-plan h3 { font-size: 22px; color: #fff; margin-bottom: 5px; }
.card-plan p { font-size: 14px; color: #ccc; }

/* vou começar o rodape daq */

footer {
  padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}

footer p {
    color: #555555;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.divider-footer {
  position: relative;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    #2FCBFF 30%,
    #6FE8FF 50%,
    #9B6BFF 70%,
    rgba(0,0,0,0) 100%
  );
  border-radius: 999px;
  margin-top: 30;
  margin-bottom: 20px;
  
}

.divider-footer::after {
  content: "";
  position: absolute;
  inset: -4px 0;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(111,232,255,0.9) 50%,
    rgba(0,0,0,0) 100%
  );
  filter: blur(10px);
  opacity: 0.7;
  border-radius: 999px;
  pointer-events: none;
}.divider {
  position: relative;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    #2FCBFF 30%,
    #6FE8FF 50%,
    #9B6BFF 70%,
    rgba(0,0,0,0) 100%
  );
  border-radius: 999px;
  margin-top: 0;
}

.divider::after {
  content: "";
  position: absolute;
  inset: -4px 0;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(111,232,255,0.9) 50%,
    rgba(0,0,0,0) 100%
  );
  filter: blur(10px);
  opacity: 0.7;
  border-radius: 999px;
  pointer-events: none;
}



/* grids aq */

.grid-vantagens, .grid-funcionalidades, .grid-planos {
    width: 100%;
    justify-content: center; 
    margin-bottom: 40px;
}

/* saiba mais sóq do footer */

.plansbtn {
    display: block;
    margin: 0 auto;
    background: rgba(63, 169, 245, 0.05);
    border: 1px solid rgba(63, 169, 245, 0.6);
    color: #FFFFFF;
    margin-top: -10px;
    margin-bottom: 28px;
    padding: 12px 45px; 
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(63, 169, 245, 0.15);
}

.plansbtn:hover {
    background: rgba(63, 169, 245, 0.2);
    box-shadow: 0 0 25px rgba(63, 169, 245, 0.4);
    border-color: #3FA9F5;
    transform: translateY(-2px);
}